### Ensemble Linear and RF Predictions

In [21]:
import numpy as np
import pandas as pd

In [10]:
linear_scores = pd.read_csv("Linear Reg Train Sample Scores.csv")
rf_scores = pd.read_csv("RF Train Sample Scores.csv")
original_data = pd.read_csv("train.csv")

In [11]:
linear_scores.head()

   ID  electricity_consumption
0   0               177.421927
1   1               153.500325
2   2               142.691727
3   3               179.299450
4   4               145.128379

In [12]:
rf_scores.head()

   ID  electricity_consumption
0   0               204.239858
1   1               204.849041
2   2               204.382524
3   3               204.821973
4   4               204.283564

In [13]:
original_data.head()

,ID,datetime,temperature,var1,pressure,windspeed,var2,electricity_consumption
0,0,2013-07-01 00:00:00,-11.4,-17.1,1003.0,571.910,A,216.0
1,1,2013-07-01 01:00:00,-12.1,-19.3,996.0,575.040,A,210.0
2,2,2013-07-01 02:00:00,-12.9,-20.0,1000.0,578.435,A,225.0
3,3,2013-07-01 03:00:00,-11.4,-17.1,995.0,582.580,A,216.0
4,4,2013-07-01 04:00:00,-11.4,-19.3,1005.0,586.600,A,222.0

In [15]:
orig_Y = original_data["electricity_consumption"]

### Alone

Compare each of the scores alone so we can compare ensemble method performance

In [14]:
from sklearn.metrics import r2_score 
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [18]:
lin_reg_r2 = r2_score(orig_Y, linear_scores["electricity_consumption"])
rf_r2 = r2_score(orig_Y, rf_scores["electricity_consumption"])
#mean_r2 = r2_score(orig_Y, )

print("Linear Regression R2 was: ", lin_reg_r2)
print("Random Forest R2 was: ", rf_r2)

Linear Regression R2 was:  0.360023973755
Random Forest R2 was:  0.392569534911

In [22]:
lin_reg_rmse= np.sqrt(mean_squared_error(orig_Y, linear_scores["electricity_consumption"]))
rf_rmse = np.sqrt(mean_squared_error(orig_Y, rf_scores["electricity_consumption"]))
#mean_r2 = r2_score(orig_Y, )

print("Linear Regression RMSE was: ", lin_reg_rmse)
print("Random Forest RMSE was: ", rf_rmse)

Linear Regression RMSE was:  86.4131949844
Random Forest RMSE was:  84.187283245

### Begin Ensembling

In [23]:
orig_Y.head()

0    216.0
1    210.0
2    225.0
3    216.0
4    222.0
Name: electricity_consumption, dtype: float64

In [ ]:
orig_Y.join()